name: Python Practice Action (Docker)

on:
  push:
    branches:
      - main

jobs:
  run-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-action-app .

      - name: Run Docker container
        run: docker run python-action-app
